<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <title>AngularJs Demo</title>
  <link href = "bootstrap.css" rel="stylesheet" />
  <link href = "bootstrap-theme.css" rel="stylesheet" />
  <link href = "app.css" rel="stylesheet" />
  <script src="angular.js"></script>
  <script>
    var model = {
        user: "Adam",
        items: [
            {id:1,name:"proj_1"},
            {id:2,name:"proj_2"}
        ],
        breadcrumbs: [
            {id:"p",name:"Projects"},
            {id:"p1",name:"Project 1"},
            {id:"w1",name:"Wave 1"}
        ]
    };
      
    var myApp = angular.module("exampleApp",[]);
    myApp.constant("projectUrl","http://localhost:8000/api/projects/");
    myApp.constant("waveUrl","http://localhost:8000/api/waves/");
    myApp.constant("shopUrl","http://localhost:8000/api/shops/");
    
    myApp.controller("breadCtrl",function($scope){        
             
        $scope.data = model;
    });
                        
        
  </script> 
</head>
<body>
    <div class="panel">
        <div class="page-header">
            <h3>AngularJs App</h3>
        </div>
        <div ng-controller="breadCtrl">            
            <div class="container">
               <span id="breadcrumb">
                   <span ng-repeat="br in data.breadcrumbs">
                       <a href="." id="{{br.id}}">{{br.name}}</a>
                       <span ng-if="$last==false"> > </span>
                   </span>
               </span> 
               <br/><br/>
               <div id="menu">
                   <div ng-repeat="item in data.items">
                     <a href="." id="{{item.id}}">{{item.name}}</a>
                   </div>        
               </div>                                                 
           </div>          
        </div>
 
    </div>
</body> 
</html>